<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <!-- for virtual path -->
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href=".home.css">
    <title>Home</title>
</head>
<body>
    <h1>Hello This is Static File Concept</h1>
    <!-- <img src="images/4.jpg" alt="images"> -->
    <!-- for virtual path -->
    <img src="static/images/4.jpg" alt="images">
   
    <!-- <script src="js/staticfile.js"></script> -->
</body>
</html>